* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(220, 50%, 10%);
  --color-secondary: hsl(220, 50%, 90%);
  --color-tertiary: hsl(280, 80%, 80%);
  --color-accent: hsl(160, 80%, 80%);
  --color-error: hsl(0, 70%, 70%);
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 5rem 0.75rem;
  border-bottom: 1px solid var(--color-secondary);
}

.navbar a {
  margin-right: 0.15rem;
  text-decoration: none;
  color: var(--color-tertiary);
}

.navbar a:not(:last-child)::after {
  margin-left: 0.3rem;
  content: "|";
  color: var(--color-tertiary);
}

.navbar a:hover {
  text-decoration: underline;
  color: var(--color-accent);
}

.page-header,
.form-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 5rem;
}

.form-section {
  flex-direction: column;
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1.5rem;
  padding: 3rem 6rem;
  border-radius: 6px;
  border: 2px solid var(--color-secondary);
}

.form-section form input {
  margin-bottom: 1rem;
  padding: 0.25rem;
  border-radius: 6px;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.form-section form input:focus {
  outline: 2px solid var(--color-tertiary);
}

.form-section form button {
  align-self: center;
  margin-top: 1rem;
}

.form-errors {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem 1.7rem;
  list-style-type: none;
  border-radius: 6px;
  border: 2px solid var(--color-error);
  color: var(--color-error);
}

.page-title {
  font-size: 1.75rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-accent);
}

.navbar a,
.btn {
  transition: color 0.2s, background-color 0.2s;
}
